Playbooks/EP_IR_NIST_(800-61).yml
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    isoverridable: false
    itemVersion: 1.7.0
    packID: ""
    packName: SOC Framework
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: 'This playbook will run the Upon Trigger from the SOC Framework "Optimization",
  The Playbook Router executes the prod playbook in the List called "PlaybookDeploymentMatrix"
  for a Blue / Green deployment.  It does this my Matching on the MITRE Tactic in
  the alert to the playbook in the blue field (i.e. name=EP_Execution and prod=MyPlaybook). '
dirtyInputs: true
id: 'EP_IR_NIST (800-61)'
inputSections:
- description: Generic group for inputs
  inputs:
  - EntryPoint
  name: General (Inputs group)
inputs:
- description: ""
  key: EntryPoint
  playbookInputQuery: null
  required: false
  value:
    simple: EP_InitialAccess
name: EP_IR_NIST (800-61)
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: 51ffcd5a-f5bb-4e09-84ae-e1efdc5165ac
starttaskid: "0"
tags:
- MITRE
- SOC
- SOC_Framework
- NIST 800-61
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c6580e49-dceb-4340-8867-666b7738078e
      iscommand: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: c6580e49-dceb-4340-8867-666b7738078e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 50
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d8799f66-e47d-409b-82e2-478b0708e021
      iscommand: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: d8799f66-e47d-409b-82e2-478b0708e021
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 940
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4c8ad714-05b0-47d7-b310-52e26e7d0446
      iscommand: false
      name: Foundation - Upon Trigger
      playbookId: Foundation - Upon Trigger
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 4c8ad714-05b0-47d7-b310-52e26e7d0446
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 400
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 7583e4e4-266f-4361-88f4-fb320d3d12ee
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 7583e4e4-266f-4361-88f4-fb320d3d12ee
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 400
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: errorPath
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "7"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: PlaybookRouting
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Delete field from context.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 63767169-aa5d-4103-8829-5e6728918fac
      iscommand: false
      name: Delete PlaybookRouting Context
      playbooktaskmissingcomponent: null
      script: DeleteContext
      type: regular
      version: -1
    taskid: 63767169-aa5d-4103-8829-5e6728918fac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 220
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: ${shadow_mode}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Minimal scaffold for SOC_NIST_IR. Add conditions and actions in
        the UI.
      id: 639a4c41-079c-4269-8591-3bb13561847a
      iscommand: false
      name: SOC_NIST_IR
      playbookId: auto-soc_nist_ir_static-5665921e-797f-469f-a938-801fc03ce4b1
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 639a4c41-079c-4269-8591-3bb13561847a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 760
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: AlertCategories
          operator: isExists
      label: "yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: AlertCategories
          operator: isNotExists
      label: "no"
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "3"
      "yes":
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 76c5a726-b817-44a1-a7b2-18123234509d
      iscommand: false
      name: Normalized Alert Categories?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 76c5a726-b817-44a1-a7b2-18123234509d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 580
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 950,
        "width": 922.5,
        "x": 50,
        "y": 50
      }
    }
  }
