Playbooks/Foundation_-_Playbook_Router.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    isoverridable: false
    itemVersion: 1.6.7
    packID: ""
    packName: SOC Framework
    prevname: ""
    toServerVersion: ""
dirtyInputs: true
id: 'Foundation - Playbook Router'
inputSections:
- description: Generic group for inputs
  inputs:
  - listName
  - keyName
  - EntryPoint
  name: General (Inputs group)
inputs:
- description: ""
  key: listName
  playbookInputQuery: null
  required: true
  value: {}
- description: ""
  key: keyName
  playbookInputQuery: null
  required: true
  value: {}
- description: ""
  key: EntryPoint
  playbookInputQuery: null
  required: false
  value: {}
name: Foundation - Playbook Router
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: Foundation - Load Configuration
starttaskid: "0"
tags:
- SOC_Framework
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4b396c35-3ad7-4f23-8da7-48130935be83
      iscommand: false
      name: ""
      version: -1
    taskid: 4b396c35-3ad7-4f23-8da7-48130935be83
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: errorPath
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "4"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      entrypoint_name:
        simple: ${inputs.EntryPoint}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This script will read the PlaybookDepoloymentMatrix to see the
        current playbook running should be given the EntryPoint Playbooks name.
      id: f4cb6ec3-b4ba-4148-ae3c-cbb354798c83
      iscommand: false
      name: Set Configuration
      script: 'EntryPointGBState'
      type: regular
      version: -1
    taskid: f4cb6ec3-b4ba-4148-ae3c-cbb354798c83
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 210
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: be6942f5-03b8-429c-82d0-fdd19fbcc592
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: be6942f5-03b8-429c-82d0-fdd19fbcc592
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 385
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 0c6ec6c0-b278-430d-83c0-56bc2145e5f1
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: 0c6ec6c0-b278-430d-83c0-56bc2145e5f1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 380
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 400,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
