Playbooks/SOC_Containment_Plan.yml
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    isoverridable: false
    itemVersion: 1.0.3
    packID: ""
    packName: SOC Malware Investigation Response
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: "This playbook handles the main containment actions available with Cortex
  XSIAM, including the following sub-playbooks:  \n* Containment Plan - Isolate endpoint\n*
  Containment Plan - Disable account\n* Containment Plan - Quarantine file\n* Containment
  Plan - Block indicators\n* Containment Plan - Clear user session (currently, the
  playbook supports only Okta)\n\nNote: The playbook inputs enable manipulating the
  execution flow. Read the input descriptions for details."
dirtyInputs: true
id: 'SOC Containment Plan'
inputSections:
- description: Generic group for inputs
  inputs:
  - AutoContainment
  - HostContainment
  - UserContainment
  - BlockIndicators
  - FileContainment
  - ClearUserSessions
  - EndpointID
  - Username
  - FileHash
  - FilePath
  - IP
  - Domain
  - URL
  - FileRemediation
  - IAMUserDomain
  - UserVerification
  - AutoBlockIndicators
  - ShadowMode
  - Hostname
  name: General (Inputs group)
inputs:
- description: |-
    Whether to execute containment plan (except isolation) automatically.
    The specific containment playbook inputs should also be set to 'True'.
  key: AutoContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether to execute endpoint isolation.
  key: HostContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to disable the user account.
  key: UserContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to block the indicators.
  key: BlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to quarantine the identified file.
  key: FileContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to clear the user active Okta sessions.
  key: ClearUserSessions
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The endpoint ID to run commands over.
  key: EndpointID
  playbookInputQuery: null
  required: false
  value: {}
- description: The username to disable.
  key: Username
  playbookInputQuery: null
  required: false
  value: {}
- description: The file hash to block.
  key: FileHash
  playbookInputQuery: null
  required: false
  value: {}
- description: The path of the file to block.
  key: FilePath
  playbookInputQuery: null
  required: false
  value: {}
- description: The IP indicators.
  key: IP
  playbookInputQuery: null
  required: false
  value: {}
- description: The domain indicators.
  key: Domain
  playbookInputQuery: null
  required: false
  value: {}
- description: The URL indicator.
  key: URL
  playbookInputQuery: null
  required: false
  value: {}
- description: "Choose 'Quarantine' or 'Delete'  to avoid file remediation conflicts.
    \nFor example, choosing 'Quarantine' ignores the 'Delete file' task under the
    eradication playbook and will execute only file quarantine."
  key: FileRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: Quarantine
- description: The Okta IAM users domain. The domain will be appended to the username.
    e.g. username@IAMUserDomain.
  key: IAMUserDomain
  playbookInputQuery: null
  required: false
  value: {}
- description: "Possible values: True/False.\nWhether to provide user verification
    for blocking those IPs and disabling the users. \n\nFalse - No prompt will be
    displayed to the user.\nTrue - The server will ask the user for blocking verification
    and will display the blocking list."
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Possible values: True/False.  Default: True.
    Should the given indicators be automatically blocked, or should the user be given the option to choose?

    If set to False - no prompt will appear, and all provided indicators will be blocked automatically.
    If set to True - the user will be prompted to select which indicators to block.
  key: AutoBlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: ""
  key: ShadowMode
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: ""
  key: Hostname
  playbookInputQuery: null
  required: false
  value: {}
name: SOC Containment Plan
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs:
  - Blocklist.Final
  - QuarantinedFilesFromEndpoints
  - Core.blocklist.added_hashes
  - Core.Isolation.endpoint_id
outputs:
- contextPath: Blocklist.Final
  description: The blocked accounts.
  type: unknown
- contextPath: QuarantinedFilesFromEndpoints
  description: The quarantined files from endpoint.
  type: unknown
- contextPath: Core.blocklist.added_hashes
  description: The file Hash that was added to the blocklist.
- contextPath: Core.Isolation.endpoint_id
  description: The isolated endpoint ID.
sourceplaybookid: Containment Plan
starttaskid: "0"
tags:
- SOC
- SOC_Framework
- Containment
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "150"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8aa2ff75-9b37-45eb-8c00-1233cf5410ac
      iscommand: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 8aa2ff75-9b37-45eb-8c00-1233cf5410ac
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1347.75,
          "y": 50
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "153"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 585cb24c-cfe1-45cd-8c5d-370621442364
      iscommand: false
      name: Isolate Device
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 585cb24c-cfe1-45cd-8c5d-370621442364
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 531,
          "y": 1220
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "152"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: abb87f28-a965-4d8d-8069-eb635815bb13
      iscommand: false
      name: Disable Account
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: abb87f28-a965-4d8d-8069-eb635815bb13
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1220
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "156"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ed18bff1-e327-4889-85e8-65d66ff9ef5a
      iscommand: false
      name: Quarantine File
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: ed18bff1-e327-4889-85e8-65d66ff9ef5a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1974,
          "y": 1220
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "155"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1784b84c-0c06-44ae-8230-83edc6deccba
      iscommand: false
      name: Block Indicators
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 1784b84c-0c06-44ae-8230-83edc6deccba
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1493,
          "y": 1220
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "154"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f495b99b-b851-438c-8fc8-0db9145c81a2
      iscommand: false
      name: Clear User Sessions
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: f495b99b-b851-438c-8fc8-0db9145c81a2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1012,
          "y": 1220
        }
      }
  "138":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoContainment
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "138"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "139"
      "yes":
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |+
        Whether to perform containment actions automatically or manually.

      id: c69a7bbb-62d0-447a-8184-87aea4d7c440
      iscommand: false
      name: Should containment automatically?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: c69a7bbb-62d0-447a-8184-87aea4d7c440
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1012,
          "y": 720
        }
      }
  "139":
    continueonerrortype: ""
    form:
      description: Select which containment actions to perform
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Select the Endpoint to isolate by Endpoint name
        options: []
        optionsarg:
        - complex:
            accessor: endpoint_name
            root: Core.Endpoint
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Select Endpoint to isolate by Endpoint ID
        options: []
        optionsarg:
        - complex:
            root: inputs.EndpointID
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Select Users to disable
        options: []
        optionsarg:
        - complex:
            root: inputs.Username
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: Select Files to quarantine
        options: []
        optionsarg:
        - complex:
            root: FilesList
            transformers:
            - operator: uniq
            - args:
                applyIfEmpty: {}
                defaultValue:
                  iscontext: true
                  value:
                    simple: inputs.FilePath
              operator: SetIfEmpty
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "4"
        label: ""
        labelarg:
          simple: Select IPs to block
        options: []
        optionsarg:
        - complex:
            root: inputs.IP
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "5"
        label: ""
        labelarg:
          simple: Select URLs to block
        options: []
        optionsarg:
        - complex:
            root: inputs.URL
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "6"
        label: ""
        labelarg:
          simple: 'Select Files Hash to block '
        options: []
        optionsarg:
        - complex:
            root: inputs.FileHash
            transformers:
            - operator: uniq
        - {}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "7"
        label: ""
        labelarg:
          simple: 'Select Domains to block '
        options: []
        optionsarg:
        - complex:
            root: inputs.Domain
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "8"
        label: ""
        labelarg:
          simple: Select Users to clear their sessions
        options: []
        optionsarg:
        - complex:
            root: inputs.Username
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Which containment actions would you like to perform?
      totalanswers: 0
    id: "139"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Select which indicators to block.
      id: 6b328ab7-5553-4c6b-86d3-ca365bf5766d
      iscommand: false
      name: Which containment actions would you like to perform?
      playbooktaskmissingcomponent: null
      type: collection
      version: -1
    taskid: 6b328ab7-5553-4c6b-86d3-ca365bf5766d
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1157.25,
          "y": 890
        }
      }
  "146":
    continueonerror: true
    continueonerrortype: errorPath
    id: "146"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "151"
      '#none#':
      - "138"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id_list:
        complex:
          root: inputs.EndpointID
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: No Value
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a list of endpoints, according to the passed filters. If there
        are no filters, all endpoints are returned. Filtering by multiple fields is
        concatenated using the AND condition (OR is not supported). Maximum result
        set size is 100. Offset is the zero-based number of endpoints from the start
        of the result set (start by counting from 0).
      id: 03d1b8b6-1f1c-406f-b610-dc4f20236cce
      iscommand: true
      name: Get endpoint info
      playbooktaskmissingcomponent: null
      script: '|||core-get-endpoints'
      type: regular
      version: -1
    taskid: 03d1b8b6-1f1c-406f-b610-dc4f20236cce
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1347.75,
          "y": 550
        }
      }
  "147":
    continueonerrortype: ""
    id: "147"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
      - "49"
      - "48"
      - "51"
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c468a69f-b7e5-4fdc-8ea5-c1b5d6710a2e
      iscommand: false
      name: Containment
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: c468a69f-b7e5-4fdc-8ea5-c1b5d6710a2e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1012,
          "y": 1060
        }
      }
  "148":
    continueonerrortype: ""
    id: "148"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a8f6c601-67bc-4dfd-8c09-008797b89324
      iscommand: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: a8f6c601-67bc-4dfd-8c09-008797b89324
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 771.5,
          "y": 1550
        }
      }
  "149":
    continueonerror: true
    continueonerrortype: errorPath
    id: "149"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "151"
      '#none#':
      - "146"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FilesList
      stringify:
        simple: "false"
      value:
        complex:
          root: inputs.FilePath
          transformers:
          - args:
              array1_key:
                iscontext: true
              array2:
                iscontext: true
                value:
                  simple: inputs.FileHash
              array2_key: {}
              determine_output_length_by: {}
              merge_dict: {}
              output_name1:
                value:
                  simple: Path
              output_name2:
                value:
                  simple: Hash
            operator: MakePair
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 998d44d8-1e99-417c-9499-6f4d81fbc626
      iscommand: false
      name: Set Process list
      playbooktaskmissingcomponent: null
      script: Set
      type: regular
      version: -1
    taskid: 998d44d8-1e99-417c-9499-6f4d81fbc626
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1202.5,
          "y": 380
        }
      }
  "150":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FilePath
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FileHash
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "150"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "146"
      "yes":
      - "149"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the file path and file hash are defined.
      id: 4541881d-148b-4360-83d3-c66c78b3d624
      iscommand: false
      name: The file path and file hash defined?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 4541881d-148b-4360-83d3-c66c78b3d624
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1347.75,
          "y": 210
        }
      }
  "151":
    continueonerrortype: ""
    id: "151"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: aced94f7-fbd0-45d2-a5b7-73ea951d0758
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: aced94f7-fbd0-45d2-a5b7-73ea951d0758
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1733.5,
          "y": 720
        }
      }
  "152":
    continueonerrortype: ""
    id: "152"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      UserContainment:
        simple: "True"
      UserVerification:
        simple: "True"
      Username:
        simple: ${inputs.Username}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ## Containment Plan - Disable Account

        This playbook is a sub-playbook within the containment plan playbook.
        The playbook disables users by utilizing the sub-playbook "Block Account - Generic v2"
      id: 284389c2-390e-4ba5-ac67-a93f5a50f9ba
      iscommand: false
      name: SOC Containment Plan - Disable Account
      playbookId: SOC Containment Plan - Disable Account
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 284389c2-390e-4ba5-ac67-a93f5a50f9ba
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1380
        }
      }
  "153":
    continueonerrortype: ""
    id: "153"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      EndpointHostName:
        simple: ${inputs.Hostname}
      EndpointID:
        simple: ${inputs.EndpointID}
      HostContainment:
        simple: "True"
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ## Containment Plan - Isolate Device

        This playbook is a sub-playbook within the containment plan playbook.
        The playbook isolates devices using core commands.
      id: 3ee128ef-f98a-4212-b1be-ab616ec1cce9
      iscommand: false
      name: SOC Containment Plan - Isolate Device
      playbookId: SOC Containment Plan - Isolate Device
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 3ee128ef-f98a-4212-b1be-ab616ec1cce9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 531,
          "y": 1380
        }
      }
  "154":
    continueonerrortype: ""
    id: "154"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      ClearUserSessions:
        simple: "True"
      IAMUserDomain:
        simple: ${inputs.IAMUserDomain}
      ShadowMode:
        simple: "true"
      Username:
        simple: ${inputs.Username}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ## Containment Plan - Clear User Sessions

        This playbook is a sub-playbook within the containment plan playbook.
        The playbook uses the 'Okta v2' and 'MSGraph User' integrations to clear user sessions.
      id: db9bfcb6-a083-4640-b3fa-663eef655b91
      iscommand: false
      name: SOC Containment Plan - Clear User Sessions
      playbookId: SOC Containment Plan - Clear User Sessions
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: db9bfcb6-a083-4640-b3fa-663eef655b91
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1012,
          "y": 1380
        }
      }
  "155":
    continueonerrortype: ""
    id: "155"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      AutoBlockIndicators:
        simple: "True"
      AutoContainment:
        simple: "True"
      BlockIndicators:
        simple: "True"
      Domain:
        simple: ${inputs.Domain}
      FileHash:
        simple: ${inputs.FileHash}
      FilePath:
        simple: ${inputs.FilePath}
      IP:
        simple: ${inputs.IP}
      ShadowMode:
        simple: ${inputs.ShadowMode}
      URL:
        simple: ${inputs.URL}
      UserVerification:
        simple: "False"
      Username:
        simple: ${inputs.Username}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ## Containment Plan - Block Indicators

        This playbook is a sub-playbook within the containment plan playbook.

        ### Indicator Blocking

        The playbook block indicators by two methods:

        1. It adds the malicious hashes into the XSIAM hash block list
        2. It utilizes the sub-playbook "Block Indicators - Generic v3"
      id: cc35ff2f-f8b9-404e-932c-a45d42d91943
      iscommand: false
      name: SOC Containment Plan - Block Indicators
      playbookId: SOC Containment Plan - Block Indicators
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: cc35ff2f-f8b9-404e-932c-a45d42d91943
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1493,
          "y": 1380
        }
      }
  "156":
    continueonerrortype: ""
    id: "156"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        simple: "True"
      EndpointID:
        simple: ${inputs.EndpointID}
      FileContainment:
        simple: "True"
      FileHash:
        simple: ${inputs.FileHash}
      FilePath:
        simple: ${inputs.FilePath}
      FileRemediation:
        simple: Quarantine
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ## Containment Plan - Quarantine File

        This playbook is a sub-playbook within the containment plan playbook.
        The playbook quarantines files using core commands.
      id: d4871d7b-437b-4ec6-87be-7ce7091ede6c
      iscommand: false
      name: SOC Containment Plan - Quarantine File
      playbookId: SOC Containment Plan - Quarantine File
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: d4871d7b-437b-4ec6-87be-7ce7091ede6c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1974,
          "y": 1380
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "138_139_#default#": 0.64,
      "150_146_#default#": 0.45
    },
    "paper": {
      "dimensions": {
        "height": 1560,
        "width": 2304,
        "x": 50,
        "y": 50
      }
    }
  }
