Playbooks/SOC_Analysis.yml
id: SOC Analysis
version: 3
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization
    packName: SOC Framework
    itemVersion: 2.1.16
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Analysis
description: |-
  Identify potential security events, determine whether they represent true alerts, understand their scope and impact, and establish the actionable context needed to respond effectively.

  What this phase includes:

  Monitoring security telemetry from logs, alerts, sensors, EDR, SIEM/XSIAM analytics, threat intel, and user reports.

  Triaging events to distinguish benign activity, false positives, and true security alerts.

  Enriching indicators and artifacts (e.g., IPs, hashes, domains, user accounts, processes, network connections) using internal data and external threat intelligence.

  Correlating events across systems to understand the timeline, root cause, attack vector, and potential lateral movement.

  Assigning alert classification, severity, priority, and category for consistent response.

  Documenting findings, evidence, and hypotheses while preserving forensic integrity.

  Determining the initial scope and business impact to decide how aggressive containment must be.

  Outcome:
  A validated and well-understood security alert with clear context, severity, indicators, and scope—enabling the organization to transition into Containment with confidence and accuracy.
tags:
- SOC
- SOC_Framework
- NIST 800-61
- Analysis
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
    type: start
    task:
      id: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1555,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 57a5da65-400a-4cd5-826c-3436a01618f8
    type: playbook
    task:
      id: 57a5da65-400a-4cd5-826c-3436a01618f8
      version: -1
      name: SOC Data Analysis
      playbookName: SOC Data Analysis
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
      - "9"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: b5e2241d-e7c3-4e8f-87eb-82d6198a5129
    type: playbook
    task:
      id: b5e2241d-e7c3-4e8f-87eb-82d6198a5129
      version: -1
      name: SOC Email Analysis
      playbookName: SOC Email Analysis
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
      - "9"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 2d8a3634-3ca8-4460-86dd-885d0aa67af6
    type: playbook
    task:
      id: 2d8a3634-3ca8-4460-86dd-885d0aa67af6
      version: -1
      name: SOC EndPoint Analysis
      playbookName: SOC EndPoint Analysis
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
      - "9"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: d7385c3a-2283-4938-81b3-58ea63cc75f2
    type: playbook
    task:
      id: d7385c3a-2283-4938-81b3-58ea63cc75f2
      version: -1
      name: SOC Identity Analysis
      playbookName: SOC Identity Analysis
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
      - "9"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: e2089744-16e7-4227-8a13-0c65f8278895
    type: playbook
    task:
      id: e2089744-16e7-4227-8a13-0c65f8278895
      version: -1
      name: SOC Network Analysis
      playbookName: SOC Network Analysis
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
      - "9"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 4b7573be-bd91-4fe6-8959-2bc5d4aaa78c
    type: playbook
    task:
      id: 4b7573be-bd91-4fe6-8959-2bc5d4aaa78c
      version: -1
      name: SOC SaaS Analysis
      playbookName: SOC SaaS Analysis
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
      - "9"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 3d8bf25e-863c-4ee5-8a18-47d621adbc11
    type: playbook
    task:
      id: 3d8bf25e-863c-4ee5-8a18-47d621adbc11
      version: -1
      name: SOC Workload Analysis
      playbookName: SOC Workload Analysis
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
      - "9"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2630,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 8ceb5aed-c39b-452d-8fd8-f5f2ed8eb896
    type: title
    task:
      id: 8ceb5aed-c39b-452d-8fd8-f5f2ed8eb896
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1555,
          "y": 580
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: b2ee195f-d981-4766-8cd4-4fe9318e800f
    type: condition
    task:
      id: b2ee195f-d981-4766-8cd4-4fe9318e800f
      version: -1
      name: Product Category
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#default#':
      - "9"
      Data:
      - "1"
      Email:
      - "2"
      Endpoint:
      - "3"
      Identity:
      - "5"
      Network:
      - "6"
      SaaS:
      - "7"
      Workload:
      - "8"
    separatecontext: false
    conditions:
    - label: Data
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Data
    - label: Workload
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Workload
    - label: Identity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Identity
    - label: SaaS
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: SaaS
    - label: Endpoint
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Endpoint
    - label: Email
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Email
    - label: Network
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Network
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1555,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 590,
        "width": 2960,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
sourceplaybookid: SOC Containment
adopted: true
fromversion: 5.0.0
