Playbooks/SOC__Enrichment_copy.yml
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 2.7.19
    packID: ""
    packName: SOC Common Playbooks
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: Enrichment of core artifacts based on normalized artifacts and alert
  categories.
dirtyInputs: true
id: 'SOC  Enrichment'
inputSections:
- description: Generic group for inputs
  inputs:
  - sha256
  - hostname
  - endpointIP
  - username
  - email
  - url
  - endpointID
  name: General (Inputs group)
inputs:
- description: ""
  key: sha256
  playbookInputQuery:
  required: false
  value: {}
- description: ""
  key: hostname
  playbookInputQuery:
  required: false
  value: {}
- description: ""
  key: endpointIP
  playbookInputQuery:
  required: false
  value: {}
- description: ""
  key: username
  playbookInputQuery:
  required: false
  value: {}
- description: ""
  key: email
  playbookInputQuery:
  required: false
  value: {}
- description: ""
  key: url
  playbookInputQuery:
  required: false
  value: {}
- description: ""
  key: endpointID
  playbookInputQuery:
  required: false
  value: {}
name: SOC  Enrichment
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: auto-pb-detect-analyze-endpoint-11bcb85d-f5be-437d-a309-aeb1052386a2
starttaskid: "0"
tags:
- SOC
- SOC_Framework
- Enrichment
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
      - "19"
      - "20"
      - "21"
      - "27"
      - "29"
      - "30"
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 10a8914a-28e0-4af1-8982-086e30bedcf1
      iscommand: false
      name: ""
      playbooktaskmissingcomponent:
      version: -1
    taskid: 10a8914a-28e0-4af1-8982-086e30bedcf1
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1175,
          "y": 50
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.sha256
          operator: isNotEmpty
          right:
            value: {}
      label: "Yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.sha256
          operator: isEmpty
      label: "No"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "22"
      "Yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check Normalized.process md5/sha256.
      id: 300f4905-fdd7-48fd-99b3-ad76fff28466
      iscommand: false
      name: Have a Process hash?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 300f4905-fdd7-48fd-99b3-ad76fff28466
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -780,
          "y": 400
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.endpointIP
          operator: isNotEmpty
      label: "Yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.endpointIP
          operator: isEmpty
      label: "No"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "22"
      "Yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check Normalized.host.ip or Normalized.ip.ip.
      id: 209fde33-66f9-4f67-a8c9-b5e17592cd0f
      iscommand: false
      name: Have an Endpoint IP?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 209fde33-66f9-4f67-a8c9-b5e17592cd0f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 110,
          "y": 400
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.username
          operator: isNotEmpty
          right:
            value: {}
      label: "Yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "22"
      "Yes":
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check Normalized.user fields for correlation.
      id: 80d0c66e-af12-43d1-b728-eed21b71d9fb
      iscommand: false
      name: Have a User tied to this endpoint?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 80d0c66e-af12-43d1-b728-eed21b71d9fb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 750,
          "y": 400
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      EndpointID:
        complex:
          root: inputs.endpointID
          transformers:
          - operator: uniq
      Hostname:
        complex:
          root: inputs.hostname
          transformers:
          - operator: uniq
      IPAddress:
        complex:
          root: inputs.endpointIP
          transformers:
          - operator: uniq
      UseReputationCommand:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich an endpoint by hostname using one or more integrations.
        Supported integrations:
        - Active Directory Query v2
        - McAfee ePO v2
        - VMware Carbon Black EDR v2
        - Cylance Protect v2
        - CrowdStrike Falcon
        - ExtraHop Reveal(x)
        - Cortex XDR / Core (endpoint enrichment, reputation and risk)
        - Endpoint reputation using !endpoint command.
      id: a91231ac-2b8f-4e1b-a7c2-719c6761e8ad
      iscommand: false
      name: SOC Endpoint Enrichment - Generic v2.1
      playbookId: SOC Endpoint Enrichment - Generic v2.1
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: a91231ac-2b8f-4e1b-a7c2-719c6761e8ad
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1607.5,
          "y": 600
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      DetectionThreshold:
        simple: "5"
      FileSHA256:
        simple: ${inputs.sha256}
      TrustedPublishers:
        simple: |-
          Microsoft Root Authority,Microsoft Timestamping Service,
          Microsoft Code Signing PCA, Microsoft Corporation
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook checks the file reputation and sets the verdict
        as a new context key.\n\nThe verdict is composed by 3 main components:\n\n
        * VirusTotal detection rate\n* Digital certificate signers\n* NSRL DB\n\n
        Note: a user can provide a list of trusted signers of his own using the playbook
        inputs\n "
      id: c6f46490-18f1-4db6-91b5-2281b25c50aa
      iscommand: false
      name: SOC File Reputation
      playbookId: SOC File Reputation
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: c6f46490-18f1-4db6-91b5-2281b25c50aa
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -650,
          "y": 610
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      ExecutedFromParent:
        simple: "True"
      IP:
        complex:
          root: inputs.endpointIP
          transformers:
          - operator: uniq
      InternalRange:
        complex:
          accessor: PrivateIPs
          root: lists
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: (\b(?:\d{1,3}\.){3}\d{1,3}\b/\d{1,2})
              unpack_matches: {}
            operator: RegexExtractAll
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      ResolveIP:
        simple: "False"
      UseReputationCommand:
        simple: "False"
      extended_data:
        simple: "False"
      threat_model_association:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich IP addresses using one or more integrations.

        - Resolve IP addresses to hostnames (DNS)
        - Provide threat information
        - Determine IP address reputation using the !ip command
        - Separate internal and external IP addresses
        - For internal IP addresses, get host information.

        When executing this playbook through IP Enrichment - Generic v2, IP classification and resolution will be handled by the main playbook, improving performance.
      id: 8ff042d7-1994-463d-b377-26482a3de95f
      iscommand: false
      name: SOC IP Enrichment - Generic v2
      playbookId: SOC IP Enrichment - Generic v2
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: 8ff042d7-1994-463d-b377-26482a3de95f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 222.5,
          "y": 580
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8d3ffcf1-eaa6-44fb-874a-837619d3c650
      iscommand: false
      name: Host Enrichent
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 8d3ffcf1-eaa6-44fb-874a-837619d3c650
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1720,
          "y": 250
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 86b589db-dff1-4110-8727-dacd5f226bf4
      iscommand: false
      name: File Enrichment
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 86b589db-dff1-4110-8727-dacd5f226bf4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -780,
          "y": 230
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3a31d0d5-9931-448d-8a93-9982602f24ee
      iscommand: false
      name: IP Enrichment
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 3a31d0d5-9931-448d-8a93-9982602f24ee
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 110,
          "y": 230
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f6d81e1-cc0f-4ed4-8653-2e070219600f
      iscommand: false
      name: Identity Enrichment
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 4f6d81e1-cc0f-4ed4-8653-2e070219600f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 720,
          "y": 230
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 02d0cf85-2394-4ee3-82f3-185f0b5c6d98
      iscommand: false
      name: Done
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 02d0cf85-2394-4ee3-82f3-185f0b5c6d98
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1175,
          "y": 1650
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.hostname
          operator: isExists
          right:
            value: {}
      label: "Yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.hostname
          operator: isNotExists
      label: "No"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "22"
      "Yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check Normalized.host fields.
      id: ef5348cb-eee3-479a-b094-6ad2a31f19e7
      iscommand: false
      name: Have a Host entity?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: ef5348cb-eee3-479a-b094-6ad2a31f19e7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1720,
          "y": 420
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      Rasterize:
        simple: "True"
      URL:
        complex:
          root: inputs.url
          transformers:
          - operator: uniq
      UseReputationCommand:
        simple: "False"
      VerifyURL:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich URLs using one or more integrations.

        URL enrichment includes:
        * SSL verification for URLs.
        * Threat information.
        * Providing of URL screenshots.
        * URL Reputation using !url.
      id: 451c9a9d-9f2d-4540-a291-36c4bdb9e7c5
      iscommand: false
      name: SOC URL Enrichment - Generic v2
      playbookId: SOC URL Enrichment - Generic v2
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: 451c9a9d-9f2d-4540-a291-36c4bdb9e7c5
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2597.5,
          "y": 570
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.email
          operator: isExists
          right:
            value: {}
      label: "Yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.email
          operator: isNotExists
      label: "No"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "22"
      "Yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check Normalized.host.ip or Normalized.ip.ip.
      id: 658fafbd-ce5c-47e9-adf1-a3426708e717
      iscommand: false
      name: Have an Email?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 658fafbd-ce5c-47e9-adf1-a3426708e717
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2055,
          "y": 390
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5094fe81-2bd3-4386-886c-255a6d7b977c
      iscommand: false
      name: Email Enrichment
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 5094fe81-2bd3-4386-886c-255a6d7b977c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2055,
          "y": 220
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.url
          operator: isExists
          right:
            value: {}
      label: "Yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.url
          operator: isNotExists
      label: "No"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "22"
      "Yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check Normalized.host.ip or Normalized.ip.ip.
      id: 091aa348-f279-434e-9c7b-722a38adb456
      iscommand: false
      name: Have an URL?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 091aa348-f279-434e-9c7b-722a38adb456
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2485,
          "y": 390
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7b5316e5-b61f-4aa1-8a53-dc52d479be27
      iscommand: false
      name: URL Enrichment
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 7b5316e5-b61f-4aa1-8a53-dc52d479be27
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2485,
          "y": 220
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 516edc35-1e34-4521-8c5d-fefed0bb0913
      iscommand: false
      name: Domains
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 516edc35-1e34-4521-8c5d-fefed0bb0913
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 220
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6ce4928b-bd06-4f76-8874-e62e23f6edf0
      iscommand: false
      name: CVEs (Nice To Have)
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 6ce4928b-bd06-4f76-8874-e62e23f6edf0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2940,
          "y": 210
        }
      }
  "33":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: NSRLFileVerdict
          operator: isEqualString
          right:
            value:
              simple: IsNSRL
      - - left:
            iscontext: true
            value:
              simple: VTFileVerdict
          operator: isEqualString
          right:
            value:
              simple: Benign
      - - left:
            iscontext: true
            value:
              simple: XDRFileSigners
          operator: isEqualString
          right:
            value:
              simple: Trusted
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "35"
      "yes":
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a240b5f4-53e9-4014-81e0-fc318ef4c4de
      iscommand: false
      name: Was the file found as Benign
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: a240b5f4-53e9-4014-81e0-fc318ef4c4de
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -485,
          "y": 830
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FileVerdict
      value:
        simple: Benign
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ca5dbd81-70ba-4fc5-8e1c-31e0c4323763
      iscommand: false
      name: Set file verdict benign
      playbooktaskmissingcomponent:
      script: Set
      type: regular
      version: -1
    taskid: ca5dbd81-70ba-4fc5-8e1c-31e0c4323763
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -700,
          "y": 990
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FileVerdict
      value:
        simple: Suspicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 01cbeae6-1096-42c7-8b03-e54932c0f7c3
      iscommand: false
      name: Set file verdict suspicious
      playbooktaskmissingcomponent:
      script: Set
      type: regular
      version: -1
    taskid: 01cbeae6-1096-42c7-8b03-e54932c0f7c3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -280,
          "y": 990
        }
      }
  "36":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: inList
                    right:
                      iscontext: true
                      value:
                        simple: inputs.endpointIP
                  - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      value:
                        simple: Normalized.ip.ip
                root: DBotScore
          operator: greaterThanOrEqual
          right:
            value:
              simple: "2"
      - - left:
            iscontext: true
            value:
              simple: DBotScore
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "22"
      "yes":
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 49da9ca8-3c14-447b-851f-613f8a702f16
      iscommand: false
      name: Was the IP found as Suspicious?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 49da9ca8-3c14-447b-851f-613f8a702f16
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 222.5,
          "y": 760
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IPVerdict
      value:
        simple: Suspicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 19aa39f4-4218-493f-83b1-e60d5e7bf014
      iscommand: false
      name: Set SuspectedVerdict to Suspicious IP
      playbooktaskmissingcomponent:
      script: Set
      type: regular
      version: -1
    taskid: 19aa39f4-4218-493f-83b1-e60d5e7bf014
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 200,
          "y": 930
        }
      }
  "38":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: inList
                    right:
                      iscontext: true
                      value:
                        simple: inputs.endpointIP
                  - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      value:
                        simple: Normalized.url.url
                root: DBotScore
          operator: isEqualString
          right:
            value:
              simple: "2"
      - - left:
            iscontext: true
            value:
              simple: DBotScore
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "22"
      "yes":
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 128e26f7-5e75-4d4d-817c-ce3bda9e06a2
      iscommand: false
      name: Was the URL found as Suspicious?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 128e26f7-5e75-4d4d-817c-ce3bda9e06a2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2580,
          "y": 750
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: URLVerdict
      value:
        simple: Suspicous
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 54583fc0-d7bb-415e-8281-1c8b8fdbb319
      iscommand: false
      name: Set Suspected Verdict to Suspicious URL
      playbooktaskmissingcomponent:
      script: Set
      type: regular
      version: -1
    taskid: 54583fc0-d7bb-415e-8281-1c8b8fdbb319
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2485,
          "y": 980
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          root: inputs.username
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value:
                  simple: \
            operator: split
          - operator: FirstArrayElement
      Username:
        complex:
          root: inputs.username
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value:
                  simple: \
            operator: split
          - operator: LastArrayElement
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich accounts using one or more integrations.
        Supported integrations:
        - Active Directory
        - Microsoft Graph User
        - SailPoint IdentityNow
        - SailPoint IdentityIQ
        - PingOne
        - Okta
        - AWS IAM
        - Cortex XDR (account enrichment and reputation)

        Also, the playbook supports the generic command 'iam-get-user' (implemented in IAM integrations). For more information, visit https://xsoar.pan.dev/docs/integrations/iam-integrations.
      id: beafab5d-1aa6-4977-ae00-c9000be07e93
      iscommand: false
      name: SOC Account Enrichment - Generic v2.1
      playbookId: SOC Account Enrichment - Generic v2.1
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: beafab5d-1aa6-4977-ae00-c9000be07e93
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 910,
          "y": 570
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      Email:
        complex:
          root: inputs.email
          transformers:
          - operator: uniq
      UseReputationCommand:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich email addresses.
        - Get information from Active Directory for internal addresses
        - Get the domain-squatting reputation for external addresses
        - Email address reputation using !email command.
      id: 8722b45a-2b50-44ac-8515-b6bf89af7ee1
      iscommand: false
      name: SOC Email Address Enrichment - Generic v2.1
      playbookId: SOC Email Address Enrichment - Generic v2.1
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: 8722b45a-2b50-44ac-8515-b6bf89af7ee1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2022.5,
          "y": 600
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "4_15_Yes": 0.82,
      "5_16_Yes": 0.84,
      "5_22_No": 0.84,
      "6_40_Yes": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 1660,
        "width": 5040,
        "x": -1720,
        "y": 50
      }
    }
  }
fromversion: 5.0.0
